<% provide(:title, @user.name) %>

<div class="columns">
	<aside class="column is-4">
		<section class="user-info">
			<%= gravatar_for @user %>
			<h1><%= @user.name %></h1>
		</section>
	</aside>
</div>