@import "bulma";

$black: #343434;

body {
	font-size: 1rem;
	color: #000;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 1.87rem
}

a.button {
	margin: 1rem 0;
}

p {
	line-height: 1.2;
}


header .navbar {
	background-color: $black;

	a {
		color: #fff;

		&:hover,
		&:active {
			color: #dbdbdb;
		}
	}

	.navbar-brand a {
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: bold;
	}

	.navbar-item {
		height: 5rem;
	}

	.navbar-item:hover {
		background-color: transparent;
	}
}


main {
	margin: 2.5rem 0;
}

aside {
	.user-info {
		margin-top: 1.25rem;
	}

	section {
		padding: .8rem 0;
		margin-top: 1.3rem;

		span {
			display: block;
			margin-bottom: .8rem;
			line-height: 1;
		}

		h1 {
			font-size: 1.3rem;
			letter-spacing: -1px;
			margin-bottom: .2rem;
		}
	}
}

.gravatar {
	float: left;
	margin-right: .6rem;
}

.gravatar-edit {
	margin-top: 1rem;
}

#error_explanation {
	.alert {
		padding: .4rem .2rem;
		margin-bottom: .5rem;
		background-color: red;
		color: #fff;
	}

	ul {
		margin-bottom: 1.7rem;
		color: red;
		padding-left: .2rem;
	}
}

footer {
	margin-top: 2.5rem;
	padding: 1rem 0;
	border-top: 1px solid #eaeaea;
	color: #777;

	a {
		color: #555;
	}

	a:hover {
		color: #222;
	}

	li {
		display: inline-block;
		margin: 0 .3rem;
	}
}

.debug_dump {
	width: 80%;
	margin: 2.8rem auto;
	box-sizing: border-box;
}